<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">News Scraper</span>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        {{title}}
    </div>
</div>